.line {
    height: 0px;
    width: 315px;
    background-color: #03071233;
    margin-top: 12px;
    margin-left: 13px;
}
/* .test {
    margin-bottom: 50px;
    height: 2px;
    width: 1350px;
    background-color: #03071233;
    margin-top: 12px;
    margin-left: 91px;
} */


